<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.marketpartner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
     <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include required permissions for Google Maps API to run. -->
      


<!-- Include this only if you are planning to use the camera roll -->
<uses-permission

   android:name="android.permission.ACCESS_FINE_LOCATION"

/>




    <!-- for Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

<uses-permission android:name="android.permission.WAKE_LOCK" />
<permission
    android:name="${applicationId}.permission.C2D_MESSAGE"
    android:protectionLevel="signature" />

<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

 

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher"
      android:allowBackup="false"
          android:usesCleartextTraffic="true"
      android:theme="@style/AppTheme">



<meta-data android:name="com.facebook.sdk.ApplicationId"
android:value="@string/facebook_app_id"/>

  <meta-data  android:name="com.dieam.reactnativepushnotification.notification_channel_name"
                  android:value="default"/>


               <!-- <uses-library android:name="org.apache.http.legacy" android:required="false"/> -->
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
          android:exported="true"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
             <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
        </intent-filter>
      </activity>




   <meta-data  android:name="com.dieam.reactnativepushnotification.notification_foreground"
                    android:value="true"/>


        <!-- Change the resource name to your App's accent color - or any other color you want -->
        <meta-data  android:name="com.dieam.reactnativepushnotification.notification_color"
                    android:resource="@color/white"/> <!-- or @android:color/{name} to use a standard color -->

        <receiver 
        android:exported="true"
        android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationActions" />
        <receiver
        android:exported="true"
         android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationPublisher" />
        <receiver 
        android:exported="true"
        android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationBootEventReceiver">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <service
            android:name="com.dieam.reactnativepushnotification.modules.RNPushNotificationListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


 <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_dtelxfbq8bkbZCWzYTsrDqvptG2V8c4" />

              <meta-data
        android:name="com.google.android.gms.wallet.api.enabled"
        android:value="true" />

        

    </application>
</manifest>
